.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 5%; 
  border-radius: 8%; 
  position: relative;
  width: 90%; 
  height: auto; 
  max-height: 90vh; 
  overflow-y: auto; 
  box-shadow: 0 4vh 20vh rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease; 
}

.closeButton {
  position: absolute;
  top: 5%; 
  right: 5%; 
  cursor: pointer;
  font-size: 4vw;
  color: white; 
  background-color: rgba(0, 0, 0, 0.5); 
  border: none; 
  border-radius: 50%; 
  width: 10%; 
  height: 10%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.7); 
}

.enlargedImage {
  width: 100%; 
  height: auto; 
  max-height: 80vh; 
}



