.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above all other elements */
}

.modalContent {
    background-color: white;
    padding: 2vh; /* Responsive padding */
    border-radius: 2vh; /* Rounded corners */
    width: 90%; /* Full width on mobile */
    max-width: 70%; /* Increased max width for larger screens */
    box-shadow: 0 4vh 8vh rgba(0, 0, 0, 0.2);
}

.closeButton {
    cursor: pointer;
    font-size: 2.5vh; /* Font size */
    position: absolute;
    top: 2vh; /* Position adjustment */
    right: 2vh; /* Position adjustment */
}

.flagImage {
    margin-bottom: 2vh; /* Space between the flag and the login button */
    width: 100%; /* Adjust as needed */
    max-width: 50%; /* Adjust max width for the flag */
}

input[type="email"], input[type="password"] {
    height: 8vh; /* Set height */
    font-size: 2.5vh; /* Set font size */
    padding: 1.5%; /* Padding */
    border: 1px solid #ccc; /* Light border */
    border-radius: 2vh; /* Rounded corners */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in total width */
}

button {
    width: 100%; /* Full width for the button */
    min-width: 30%; /* Minimum width set in % */
    padding: 2vh; /* Increased padding for better appearance */
    font-size: 2vh; /* Reduced font size for better visibility */
    border: none; /* No border */
    background-color: #333; /* Button background color */
    color: white; /* Button text color */
    border-radius: 2vh; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background transition */
}

/* Button styles for hamburger menu */
@media (max-width: 768px) {
    button {
        text-align: left; /* Align text to the left */
        padding-left: 2vw; /* Additional left padding */
        padding-top: 3vh; /* Increase top padding */
        padding-bottom: 3vh; /* Increase bottom padding */
    }
}

button:hover {
    background-color: #555; /* Darker shade on hover */
}






