/* Main.module.css */
.searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 2%; /* Bottom margin specified in percentage */
}

.searchBar input {
    flex: 1; /* Input field takes up extra space */
    padding: 2vh 4vw; /* Vertical padding in vh, horizontal padding in vw */
    border: 1px solid #ccc;
    border-radius: 2%; /* Rounded corners in percentage */
    margin-right: 1%; /* Margin between input and button */
}

.searchBar button {
    background-color: #4CAF50; /* Button background color */
    color: white; /* Button text color */
    padding: 2vh 3vw; /* Vertical padding in vh, horizontal padding in vw */
    border: none;
    border-radius: 2%; /* Rounded corners in percentage */
    cursor: pointer;
}

.searchBar button:hover {
    background-color: #45a049; /* Hover color */
}



