* {
  box-sizing: border-box; /* Set box-sizing to border-box for all elements to include padding and border in the element's total width and height */
  padding: 0; /* Reset default padding for all elements */
  margin: 0; /* Reset default margin for all elements */
}

.navbar {
  width: 100%; /* Full width for the navigation bar */
  height: 10%; /* Height set as a percentage of the parent container */
  background: black; /* Navbar background color */
  color: white; /* Navbar text color */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically within the navbar */
  justify-content: space-evenly; /* Even spacing between items in the navbar */
}

.footer {
  width: 100%; /* Full width for the footer */
  height: 90%; /* Height set as a percentage of the parent container */
  background: black; /* Footer background color */
  color: white; /* Footer text color */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically within the footer */
  justify-content: center; /* Center items horizontally within the footer */
}

.book-list {
  min-height: 80%; /* Minimum height set as a percentage of the parent container */
  width: 100%; /* Full width for the book list */
  display: grid; /* Use grid layout for book items */
  grid-template-columns: repeat(3, 1fr); /* Default to 3 columns for book items */
  justify-items: center; /* Center items within grid cells */
  text-align: center; /* Center text within items */
  box-sizing: border-box; /* Use border-box model */
}

.favorites {
  min-height: 80%; /* Minimum height set as a percentage of the parent container */
  width: 100%; /* Full width for favorites */
  display: grid; /* Use grid layout for favorite items */
  grid-template-columns: repeat(3, 1fr); /* Default to 3 columns for favorite items */
  justify-items: center; /* Center items within grid cells */
  text-align: center; /* Center text within items */
  box-sizing: border-box; /* Use border-box model */
}

.book img {
  width: 310px; /* Set image width for book items */
  height: 500px; /* Set image height for book items */
  transition: all 0.3s; /* Smooth transition for all properties on hover */
  object-fit: cover; /* Crop the image to fill the dimensions without stretching */
}

img:hover {
  transform: scale(1.1); /* Scale the image slightly on hover for a zoom effect */
}

.book {
  text-align: center; /* Center text within book items */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin: 20px 0; /* Margin for spacing around book items */
}

button {
  padding: 10px; /* Padding for buttons */
  background: black; /* Button background color */
  color: white; /* Button text color */
  width: 100%; /* Full width for buttons */
  border-radius: 5px; /* Rounded corners for buttons */
}

/* Media Query for responsive design */
@media (max-width: 768px) {
  .book-list,
  .favorites {
    grid-template-columns: 1fr; /* Change to one column on smaller screens */
    min-height: 80vh; /* Set minimum height based on viewport height */
  }

  img {
    width: 100%; /* Expand image to full width on smaller screens */
    height: auto; /* Maintain aspect ratio for images */
  }

  .book {
    margin: 5%; /* Margin adjustment for book items on smaller screens */
  }

  button {
    padding: 2%; /* Padding adjustment for buttons on smaller screens */
  }
}

.highlight {
  color: #50c878; /* Emerald green color for highlighted text */
  font-weight: bold; /* Make the highlighted text bold */
}

.centered-message {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 100vh; /* Full viewport height for the centered message */
  text-align: center; /* Center text alignment */
}
