* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  height: 10%; /* Changed from vh to % */
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
  width: 100%;
  height: 90%; /* Changed from vh to % */
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list {
  min-height: 80%; /* Changed from vh to % */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default is 3 columns */
  justify-items: center;
  text-align: center;
  box-sizing: border-box;
}

.favorites {
  min-height: 80%; /* Changed from vh to % */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default is 3 columns */
  justify-items: center;
  text-align: center;
  box-sizing: border-box;
}

.book img {
  width: 310px; /* Restored to original size */
  height: 500px; /* Restored to original size */
  transition: all 0.3s; /* Added transition */
  object-fit: cover; /* This will crop the image to fill the dimensions without stretching */
}

img:hover {
  transform: scale(1.1);
}

.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0; /* Restored original margin */
}

button {
  padding: 10px; /* Restored original size */
  background: black;
  color: white;
  width: 100%;
  border-radius: 5px; /* Restored original size */
}

/* Media Query */
@media (max-width: 768px) {
  .book-list,
  .favorites {
    grid-template-columns: 1fr; /* Change to one column */
    min-height: 80vh; /* Set min height based on viewport height */
  }

  img {
    width: 100%; /* Expand image to full width */
    height: auto; /* Maintain aspect ratio */
  }

  .book {
    margin: 5%; /* Changed to % */
  }

  button {
    padding: 2%; /* Changed to % */
  }
}


.highlight {
  color: #50C878; /* Emerald green color */
  font-weight: bold; /* Make the text bold */
}








